* {
  border: 0;
  margin: 0;
  padding: 0;
}

/* =============================================

Navigation Styling

===============================================*/

header {
  padding: 1% 10%;
  background-color: #8B1F41;
  position: relative;
}

header img {
  margin: 5px 0 0;
}

header nav {
  float: right;
  position: absolute;
  top: 40%;
  right: 10%;
}

header nav ul li {
  display: inline-block;
  list-style: none;
}

header nav ul li a {
  text-decoration: none;
  color: white;
  margin: 0 30px;
}

/* =============================================

Universal Styling

===============================================*/
main {
  min-height: calc(100vh - 157px);
  width: 75%;
  margin: 0 auto;
}

h1,
h2,
h3,
h4 {
  font-family: 'Source Code Pro',monospace;
}

h1,
h2,
h3,
h4,
p {
  color: #200d13;
}

h1 {
margin: 20px 0;
  font-size: 36pt;
  font-weight: bold;
}

h2 {
  margin: 10px 0;
  font-size: 24pt;
  font-weight: bold;
}

p,
a,
li {
  font-family: 'Lato', sans-serif;
}
/* =============================================

Footer Styling

===============================================*/

footer {
  background-color: #8B1F41;
}

footer ul {
  text-align: center;
}

footer ul li {
  display: inline-block;
  list-style: none;
  color: white;
  margin: 1% 10%;
}

footer ul li a {
  color: white;
  text-decoration: none;
}

/* =============================================

Index Styling

===============================================*/
.home-photo {
  display: inline-block;
  width: 15%;
  margin: 5% 5% 5% 10%;
}

.right {
  width: 45%;
  display: inline-block;
  vertical-align: top;
  margin: 5% 10% 5% 5%;
}


/* =============================================

Resume Styling

===============================================*/
.skills {
  float: left;
  border: #0021A5 solid 5px;
  border-radius: 3px;
  width: 25%;
  padding: 20px;
  margin: 20px 40px;
}

/* =============================================

Flip Cards

===============================================*/

.cards {
  width: 65%;
  margin: 20px auto;
}

.flip-card {
  width: 200px;
  height: 200px;
  display: inline-block;
  background: transparent;
  margin: 1% 5%;
}

.flip-card img {
  width: 100%;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform .5s;
  transform-style: preserve-3d;
  box-shadow: 1px 1px 4px 2px #0021a5;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.flip-card-back {
  background-color: #0021a5;
  color: white;
  transform: rotateY(180deg);
}

.flip-card p {
  padding: 13px 5px;
  font-size: 80%;
  color: white;
}

.flip-card a {
  color: #E87722;
  font-weight: bolder;
  text-decoration: none;
}


/* =============================================

Lightbox Styling

===============================================*/

.lightbox-example img {
  width: 300px;
}

.lb-caption {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
}

/* =============================================

Progress Bars

===============================================*/

.progress {
  height: 10px;
  border: black solid .25px;
  border-radius: 3px;
  width: 80%;
  margin: 10px auto;
}

.expert {
  height: 10px;
  animation: grow100 .5s  linear forwards;
}

.intermediate-high {
  height: 10px;
  animation: grow85 .5s  linear forwards;
  animation-delay: .1s;
}

.intermediate-1 {
  height: 10px;
  animation: grow75 .5s  linear forwards;
  animation-delay: .2s;
}

.intermediate-2 {
  height: 10px;
  animation: grow75 .5s  linear forwards;
  animation-delay: .3s;
}

.intermediate-3 {
  height: 10px;
  animation: grow75 .5s  linear forwards;
  animation-delay: .4s;
}

.half {
  height: 10px;
  animation: grow60 .5s  linear forwards;
  animation-delay: .5s;
}

/* =============================================

Animation

===============================================*/

@keyframes grow100 {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
    background-color: #E87722;
  }
}

@keyframes grow85 {
  0% {
    width: 0%;
  }
  100% {
    width: 85%;
    background-color: #E87722;
  }
}

@keyframes grow75 {
  0% {
    width: 0%;
  }
  100% {
    width: 75%;
    background-color: #E87722;
  }
}

@keyframes grow60 {
  0% {
    width: 0%;
  }
  100% {
    width: 60%;
    background-color: #E87722;
  }
}
